<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ویرایش اطلاعات حساب کاربری</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/investor/editInvestorInfo.css">
</head>
<body>
<div class="mainFrame">

    <div class="titleFrame">
        ویرایش اطلاعات کاربری
    </div>
    <div class="contentFrame">
        <form method="post" th:action="@{/investor/update}" th:object="${user}">
            <div class="inp">
                <label for="firstName">نام</label>
                <input id="firstName" th:field="*{firstName}" th:value="*{firstName}" type="text"><br>
            </div>
            <div class="inp">
                <label for="lastName">نام خانوادگی</label>
                <input id="lastName" th:field="*{lastName}" th:value="*{lastName}" type="text"><br>
            </div>
            <div class="inp">
                <label for="username">نام کاربری</label>
                <input id="username" th:field="*{username}" th:value="*{username}" type="text"><br>
            </div>
            <div class="inp">
                <label for="nationalId">کد ملی</label>
                <input id="nationalId" th:field="*{nationalId}" th:value="*{nationalId}" type="text"><br>
            </div>
            <div class="inp">
                <label for="phoneNumber">شماره تلفن</label>
                <input id="phoneNumber" th:field="*{phoneNumber}" th:value="*{phoneNumber}" type="text"><br>
            </div>
            <div class="inp">
                <label for="email">ایمیل</label>
                <input id="email" th:field="*{email}" th:value="*{email}" type="email"><br>
            </div>
            <div>
                <input th:field="*{password}" type="hidden">
                <input id="submit" type="submit" value="ویرایش">
                <input type="hidden" name="userId" th:value="*{getId()}">
            </div>
        </form>
    </div>
</div>
</body>
</html>