<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Investor Password</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/investor/editPassword.css">
</head>
<body>
<div class="main-container">
    <div class="title">
        <div class="title-content">تغییر رمز عبور</div>
    </div>
    <div class="edit-pass-container">
        <form th:action="@{/investor/saveNewPass}" method="post">
            <label for="old-pass">رمز عبور فعلی</label>
            <input type="password" id="old-pass" name="old-pass">
            <label for="new-pass">رمز عبور جدید</label>
            <input type="password" id="new-pass" name="new-pass">
            <label for="new-pass2"> تکرار رمز عبور</label>
            <input type="password" id="new-pass2" name="new-pass2">
            <input type="submit" value="تغییر">
        </form>
    </div>
</div>
</body>
</html>