<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{../static/css/loginStyle.css}" type="text/css">
</head>
<body>
<div class="frame">
    <div class="main-frame">
        <div class="login_title">
            ورود به پنل مشتری
        </div>
        <div class="login">
            <form method="post" name="f" th:action="@{/doLogin}">
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out
                </div>
                <div th:if="${param.error}" class="alert alert-error">
                    Invalid username or password
                </div>
                <label for="username">نام کاربری</label><br>
                <input id="username" name="username" type="text"><br>

                <label for="password">رمز ورورد</label><br>
                <input id="password" name="password" type="password"><br>

                <input class="submit" name="submit" type="submit" value="ورود">
            </form>
        </div>
        <div class="signup">
            <a href="/sign-up"> ایجاد حساب كاربری</a>
        </div>
    </div>
    <div class="welcome-frame">
        <div class="welcome-text">
            سامانه سرمایه گذاری خفن
        </div>
    </div>
</div>
</body>
</html>