<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{../static/css/loginStyle.css}" type="text/css">
</head>
<body>
<div class="frame">
    <div class="main-frame">
        <div class="login_title">
            ورود به پنل مشتری
        </div>
        <div class="login">
            <form method="post" th:action="@{login}">
                <label for="userName-inp">نام کاربری</label><br>
                <input id="userName-inp" name="username" type="text"><br>
                <label for="pass-inp">رمز ورورد</label><br>
                <input id="pass-inp" name="password" type="password"><br>
                <input class="submit" name="submit" type="submit" value="ورود">
            </form>
        </div>
        <div class="signup">
            <a href="/sign-up"> ایجاد حساب كاربری</a>
        </div>
    </div>
    <div class="welcome-frame">
        <div class="welcome-text">
            سامانه سرمایه گذاری خفن
        </div>
    </div>
</div>
</body>
</html>